.home {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  /* padding: 0 2rem 2rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #ebebeb
    url(data:image/gif;base64,R0lGODlhAwADAIAAAO3t7f///yH5BAAAAAAALAAAAAADAAMAAAIEjAMXBQA7)
    repeat;
  overflow-y: auto;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(228, 226, 221, 0.2) 0%,
      rgba(228, 226, 221, 0.2) 100%
    );
    z-index: 0;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 30%);
  background-color: white;
  margin-bottom: 24px;
  z-index: 1;

  .internal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 70vw;
    max-width: 1200px;
    
    @media only screen and (max-width: 600px) {
      & {
        min-width: 92vw;
      }
    }

    .logo {
      position: relative;
      height: 32px;
      width: 235px;
    }
  }
}

.main {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr minmax(auto, 364px);
  grid-template-rows: auto;
  column-gap: 24px;
  min-width: 70vw;
  max-width: 1200px;
  height: 100%;
  z-index: 10;
  margin-bottom: 24px;

  @media only screen and (max-width: 600px) {
    & {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      row-gap: 24px;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 0 1px rgb(0 0 0 / 30%);
  border-radius: 8px;
  background-color: white;
  padding: 1.2rem;

  @media only screen and (max-width: 600px) {
    & {
      padding: 0.6rem;
      margin: 0 12px;
    }
  }

  .highlight {
    color: #007bb6;
    text-decoration: underline;
  }
}

.extraPadding {
  padding: 2rem;
  min-height: 700px;

  @media only screen and (max-width: 600px) {
    & {
      padding: 1rem;
      min-height: 500px;
      margin: 0 12px;
    }
  }
}

h1 .highlight {
  color: #007bb6;
  text-decoration: underline;
}

.title {
  margin-bottom: 24px;
  
  @media only screen and (max-width: 600px) {
    & {
      margin-bottom: 0;
    }
  }
}

.container {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: dashed 2px rgb(0 0 0 / 30%);
  border-radius: 6px;
  background-color: #f6f5f4;
  margin-top: 6px;

  .dull {
    opacity: 0.4;
    text-align: center;
  }

  .bird {
    position: relative;
    width: 2rem;
    height: 2rem;
  }

  .form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
    }

    .label {
      flex: 1;
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 12px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.drag {
  background-color: #e3e0dd;
}

.dragElement {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.button {
  padding: 0.75rem 2rem;
  background-color: #007bb6;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  max-height: 48px;

  &:hover {
    background-color: #004182;
  }

  &:disabled {
    background-color: #ebebeb;
    color: #a8a8a8;
    cursor: not-allowed;
  }
}

.preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .uploading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #ebebeb
        url(data:image/gif;base64,R0lGODlhAwADAIAAAO3t7f///yH5BAAAAAAALAAAAAADAAMAAAIEjAMXBQA7)
        repeat;
      opacity: 0.8;
      z-index: 0;
    }

    svg {
      margin: auto;
      width: 100px;
      height: 100px;
      margin: 20px;
      display: inline-block;
      z-index: 1;
    }

    .text {
      z-index: 1;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  .check {
    position: absolute;
    top: 48px;
    left: 240px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    img {
      user-select: none;
    }

    @media only screen and (max-width: 600px) {
      & {
        top: 48px;
        left: 160px;
        width: 16px;
        height: 16px;
      }
    }
  }
}
.tutorial:after {
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  background: #ebebeb
    url(data:image/gif;base64,R0lGODlhAwADAIAAAO3t7f///yH5BAAAAAAALAAAAAADAAMAAAIEjAMXBQA7)
    repeat;
  border: dashed 2px rgb(0 0 0 / 30%);
  opacity: 0.5;
  z-index: -1;

  @media only screen and (max-width: 600px) {
    & {
      top: -6px;
      left: -6px;
      right: -6px;
      bottom: -6px;
    }
  }
}

.tutorial:before {
  content: "Drag to place";
  position: absolute;
  top: 2px;
  left: 40px;
  width: 100px;
  color: rgb(0 0 0 / 30%);

  @media only screen and (max-width: 600px) {
    & {
      top: -2px;
      left: 28px;
    }
  }
}

.counter {
  display: block;
  position: absolute;
  bottom: 1.1vw;
  left: 1.3vw;
  width: 28vw;
  height: 1.9vw;
  // opacity: 0.7;

  @media only screen and (max-width: 600px) {
    & {
      bottom: 1.2vw;
      left: 3.7vw;
      width: 75vw;
      height: 5.5vw;
      // opacity: 0;
    }
  }
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 100%;
  padding: 1rem 2rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 30%);
  background-color: white;
  z-index: 10;
}

.finalPreview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgb(0 0 0 / 60%);

  .final {
    margin: 12px;
    overflow: hidden;
    border-radius: 8px;
  }
}
